<!DOCTYPE html>
<html>
  <head>
    <title>Baked Maps</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preload" href="https://weedmaps.com/static/fonts/weedmaps-sans-heavy.woff" as="font" type="font/woff" crossorigin="true">
    <link rel="preload" href="https://weedmaps.com/static/fonts/weedmaps-sans-regular.otf" as="font" type="font/otf" crossorigin="true">
    <link rel="preload" href="https://weedmaps.com/static/fonts/weedmaps-sans-heavy.otf" as="font" type="font/otf" crossorigin="true">
    <link rel="preload" href="https://weedmaps.com/static/fonts/weedmaps-sans-light.woff" as="font" type="font/woff" crossorigin="true">
    <link rel="preload" href="https://weedmaps.com/static/fonts/weedmaps-sans-light.otf" as="font" type="font/otf" crossorigin="true">
    <link rel="preload" href="https://weedmaps.com/static/fonts/weedmaps-sans-regular.woff" as="font" type="font/woff" crossorigin="true">
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials.google_maps[:api_key]}" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= favicon_link_tag asset_path('logo.png') %>
    <% if current_user %>
      <script>
        window.currentUser = {
            id: "<%= current_user.id %>",
            username: "<%= current_user.username %>",
            name: "<%= current_user.name %>",
            email: "<%= current_user.email %>",
            birthday: "<%= current_user.birthday %>",
            gender: "<%= current_user.gender %>",
            address: "<%= current_user.address %>",
            avatarUrl: "<%= current_user.image.attached? ? url_for(current_user.image) : asset_path('image_missing.png') %>"
        }
      </script>
    <% end %>
    <script>
      window.carSvg = "<%= asset_path('car.svg') %>"
      window.bmLogo = "<%= asset_path('logo.png') %>"
      window.storeSvg = "<%= asset_path('store.svg')%>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
